<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzau.college.mapper.admin.AdminSysResourceMapper">

    <resultMap id="rmGetRolePermissionMap"
               type="RolePermissionDto">
        <result column="role" property="role"/>
        <collection property="permissions" ofType="String" javaType="list">
            <result column="permission" property="permissions" />
        </collection>
    </resultMap>

    <select id="getRolePermissionMap"
            resultMap="rmGetRolePermissionMap">
        SELECT
           ro.name role,
           re.permission
        FROM
            admin_sys_role ro
        LEFT JOIN
            admin_sys_role_resource rr
        ON
            ro.id = rr.role_id
        LEFT JOIN
            admin_sys_resource re
        ON
            rr.resource_id = re.id
        ORDER BY
            role_id;
    </select>


</mapper>

